.DayList {
  width: 500px;
  padding: 12px 20px 32px;
  border: solid black;
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
}
.DayList__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.DayList__date,
.DayList__weekday {
  font-size: 28px;
  font-weight: 600;
  margin: 8px;
}
.DayList__list {
  padding: 0;
}
.DayList__listItem {
  box-sizing: border-box;
  list-style-type: none;
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 1px solid #bebebe;
}
.DayList__listItem:hover {
  border-bottom-color: #6514b4;
}
.DayList__listItem_blank input {
  padding: 8px;
  border: none;
  font-size: 16px;
  width: 80%;
}
.DayList__listItem input:focus-visible {
  outline: none;
  box-shadow: 0 6px 4px -4px #6514b4;
  border-radius: 2px;
}
.DayList__listItem_blank input::placeholder {
  color: #cfcfcf;
}
.DayList__filterRadio {
  display: inline-block;
  margin-right: 10px;
}
.DayList__filterRadio input[type='radio'] {
  display: none;
}
.DayList__filterRadio label {
  display: inline-block;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 6px;
  user-select: none;
}
.DayList__filterRadio input[type='radio']:checked + label {
  border-color: #6514b4;
  box-shadow: 0 0 4px #6514b4;
}
.DayList__filterRadio label:hover {
  border-color: #6514b4;
}
.DayList__deleteDone {
  border: 1px solid gray;
  border-radius: 50%;
}
.DayList__deleteDone:hover {
  border-color: #6514b4;
  box-shadow: 0 0 4px #6514b4;
  cursor: pointer;
}
.DayList__footer {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
